
body {
  /*
    Variables are defined right along style declarations.
    They're indicated by the double-hyphen prefix.
  */
  background-color: #0d1117;
  /*
    You can access variables using the 'var()' function:
  */
  
}

#coolNav {
  background-color: #161b22;
}



#logo {
  color: rgb(192, 192, 192);
  
  text-align: center;
  margin: auto;
  
}
.card-body {
  background-color: #30363d;
}
.card-title {
  color: rgb(232, 232, 232);
}
.card-text {
  color: #bdbdbd;
}
#about-image {
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  
}

a {
  color: rgb(255, 255, 255);
}

p {
  color: black;
  text-align: center;
  font-size: 20px;
  padding-top: 2rem;
}

#bigbox {
  place-content: center;
  display: flex;
}

#info {
    text-align: center;
    color: black ;
}

